.auth-form-section {
  width: 20em;

  label {
    margin-bottom: 4px;
  }

  .btn {
    width: 100%;
    padding: 12px;
  }
}

.err_msg {
  color: red;
}
ion-card-title {
  padding: 10px 20px;
  font-size: 40px;
}
